/*  SYSTEM CONFIG */
@import url(font.css);
/*VARIABLES */
.hack1 {
  margin-top: 37px !important;
  margin-left: 9px; }

.mrgTop2 {
  margin-top: 2px; }

.mrgTop4 {
  margin-top: 4px; }

.mrgTop6 {
  margin-top: 6px; }

.mrgTop8 {
  margin-top: 8px; }

.mrgTop9 {
  margin-top: 9px; }

.mrgTop10 {
  margin-top: 10px; }

.mrgTop16 {
  margin-top: 16px; }

.mrgTop20 {
  margin-top: 20px; }

.mrgTop26 {
  margin-top: 26px; }

.mrgTop35 {
  margin-top: 35px !important; }

/*--MIXIN */
.clear {
  clear: both;
  display: block;
  float: none; }

/*  SYSTEM CONFIG */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f1f1f1; }

.bgNone {
  background: none !important; }

.box {
  display: block;
  position: relative;
  width: 1000px;
  margin: 0 auto; }

.mTop {
  margin-top: 64px !important; }

.header {
  display: block;
  position: relative;
  width: 1000px;
  height: 274px;
  background: url("../img/headerBg.jpg") no-repeat;
  margin: 0 auto; }
  .headerMenu {
    display: block;
    position: relative;
    list-style-type: none;
    margin-left: 155px;
    padding-top: 14px;
    overflow: hidden; }
    .headerMenu li {
      display: block;
      position: relative;
      float: left;
      background: url("../img/headerMenuLine.png") repeat-x;
      height: 26px; }
    .headerMenu li:first-child {
      background: none; }
    .headerMenu li:last-child {
      background: none; }
    .headerMenu a {
      font: normal 14px georgiaRegular;
      text-decoration: none;
      color: #fff;
      padding: 4px 20px 4px 18px;
      display: block;
      background: url("../img/headerMenuDevide.png") right 0px no-repeat;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
      -webkit-text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
      -moz-text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6); }

.headerLogo {
  display: block;
  position: absolute;
  margin-top: 38px;
  left: 141px; }

.search {
  display: block;
  position: relative;
  overflow: hidden; }
  .searchForm {
    display: block;
    position: relative;
    float: right;
    margin-right: 5px; }
  .searchForm2 {
    display: block;
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 167px; }
  .searchInput {
    display: block;
    position: relative;
    border: none;
    border-radius: 5px;
    width: 153px;
    height: 21px;
    padding-left: 6px;
    font: normal 12px georgiaRegular;
    text-decoration: none;
    color: #404040;
    -webkit-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.4); }
  .searchBtn {
    display: block;
    position: absolute;
    border: none;
    width: 12px;
    cursor: pointer;
    height: 10px;
    margin: -15px 0px 0px 141px;
    background: url("../img/search.png") center center no-repeat; }

.center2 {
  margin-top: 20px !important; }

.center, .center2 {
  margin-top: 40px;
  display: block;
  position: relative;
  overflow: hidden; }
  .centerLeft {
    display: block;
    position: relative;
    width: 283px;
    float: left;
    margin-right: 9px; }
    .centerLeftMenu {
      display: block;
      position: relative;
      padding-left: 62px; }
      .centerLeftMenu li {
        list-style-image: url("../img/menuICO.png");
        margin-bottom: 13px;
        line-height: 18px; }
        .centerLeftMenu li a {
          font: normal 16px georgiaRegular;
          text-decoration: none;
          color: #666; }
          .centerLeftMenu li a:hover {
            color: #c4a367; }
    .centerLeftShow {
      display: block;
      position: relative;
      overflow: hidden;
      margin-top: 50px;
      margin-left: -14px;
      padding-bottom: 32px; }
      .centerLeftShowBlockNews {
        display: block;
        position: relative;
        margin-left: 35px;
        margin-top: 14px;
        width: 250px;
        margin-bottom: -11px;
        background: url("../img/menuNewsLine.png") 21px 142px no-repeat;
        padding-bottom: 22px; }
        .centerLeftShowBlockNews:last-child {
          background: none !important; }
        .centerLeftShowBlockNewsDate {
          display: block;
          position: relative;
          font: normal 11px Arial;
          text-decoration: none;
          color: #a1895d; }
        .centerLeftShowBlockNewsHeader {
          display: block;
          position: relative;
          font: bold 12px Arial;
          text-decoration: none;
          color: #037449;
          line-height: 18px; }
        .centerLeftShowBlockNewsText {
          display: block;
          position: relative;
          font: normal 12px Arial;
          text-decoration: none;
          color: #666;
          text-align: left;
          line-height: 18px; }
          .centerLeftShowBlockNewsText:after {
            content: "... "; }
      .centerLeftShowNews {
        display: block;
        position: relative; }
        .centerLeftShowNewsMore {
          margin-right: 12px !important;
          margin-top: 0px !important; }
        .centerLeftShowNewsLine {
          display: block;
          position: relative;
          margin: 7px 21px auto; }
      .centerLeftShowText, .centerLeftShowTextNews {
        display: block;
        position: relative;
        font: normal 20px georgiaRegular;
        text-decoration: none;
        color: #037449;
        padding-left: 40px; }
        .centerLeftShowTextNews {
          padding-left: 71px;
          margin-top: 17px; }
      .centerLeftShowVideo {
        width: 244px;
        height: 159px;
        margin: 15px 0px 0px 31px;
        background: url("../img/menuShowVideo.png") center center no-repeat; }
        .centerLeftShowVideoMore, .centerLeftShowNewsMore {
          text-align: right;
          display: block;
          position: relative;
          font: normal 11px georgiaRegular;
          text-decoration: underline;
          color: #037449;
          background: url("../img/arrRight.png") right center no-repeat;
          padding-right: 16px;
          margin-top: 10px;
          margin-right: 26px; }
        .centerLeftShowVideo iframe {
          margin-left: 7px;
          margin-top: 6px; }

.centerRight {
  display: block;
  position: relative;
  width: 670px;
  margin-left: 19px;
  float: left; }
  .centerRightSlider {
    width: 670px;
    height: 202px;
    background: url("../img/slide1.png") center center no-repeat;
    overflow: hidden; }
  .centerRightBox, .centerRightBoxNews {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 31px; }
    .centerRightBoxHeader {
      font: normal 20px georgiaRegular;
      text-decoration: none;
      color: #037449;
      text-align: left;
      display: block;
      position: relative;
      margin-top: -4px;
      letter-spacing: 0.01em; }
    .centerRightBoxNews {
      margin-top: 0px !important; }
    .centerRightBoxText {
      font: normal 12px Arial;
      text-decoration: none;
      color: #666;
      display: block;
      position: relative;
      margin-bottom: 20px;
      margin-top: 16px;
      margin-left: 4px;
      line-height: 16px; }
    .centerRightBoxPartners {
      display: block;
      position: relative;
      margin-top: 10px; }

.footer {
  display: block;
  position: relative;
  width: 1000px; }
  .footerBox {
    width: 960px;
    height: 66px;
    margin: 0 auto;
    background: url("../img/footerBG.png") repeat-x;
    margin-top: 5px;
    display: block;
    position: relative; }
    .footerBoxLeft {
      display: block;
      position: relative;
      float: left;
      width: 480px; }
      .footerBoxLeft p {
        font: normal 12px Arial;
        text-decoration: none;
        color: #ffffff;
        padding-top: 19px;
        padding-left: 19px;
        line-height: 1px;
        letter-spacing: -0.01em; }
    .footerBoxRight {
      display: block;
      position: relative;
      float: left;
      width: 480px; }
      .footerBoxRight p {
        font: normal 12px Arial;
        text-decoration: none;
        color: #ffffff;
        padding-top: 5px;
        padding-left: 39px;
        line-height: 13px;
        letter-spacing: -0.01em; }
        .footerBoxRight p a {
          font: normal 12px Arial;
          text-decoration: underline;
          color: #0eb3dc; }

/*  NEWS PAGE */
.centerRigthtBoxHeaderNewsBlock {
  display: block;
  position: relative;
  overflow: hidden;
  width: 638px;
  margin-top: 11px; }
  .centerRigthtBoxHeaderNewsBlock li {
    list-style: none;
    border-top: 1px solid #999; }
    .centerRigthtBoxHeaderNewsBlock li a {
      display: block;
      position: relative;
      overflow: hidden;
      font: normal 11px Arial;
      text-decoration: underline;
      color: #049fef;
      margin-left: 570px;
      margin-bottom: 7px;
      background: url("../img/arrRightLink.png") no-repeat scroll right center transparent; }
  .centerRigthtBoxHeaderNewsBlock:last-child {
    border-bottom: 1px solid #999; }

.centerRightShowBlockNewsDate {
  font: normal 11px Arial;
  text-decoration: none;
  color: #a1895d;
  display: block;
  position: relative;
  margin-top: 13px;
  margin-left: 3px; }

.centerRightShowBlockNewsHeader {
  display: block;
  position: relative;
  font: bold 12px Arial;
  text-decoration: none;
  color: #037449;
  line-height: 18px;
  margin-top: 1px;
  margin-left: 2px; }

.centerRightShowBlockNewsText {
  display: block;
  position: relative;
  font: normal 12px Arial;
  text-decoration: none;
  color: #666;
  text-align: left;
  line-height: 18px;
  margin-top: 1px;
  margin-left: 2px; }
  .centerRightShowBlockNewsText:after {
    content: "... "; }

/*  CONTACT PAGE */
.centerRightBoxContact {
  display: block;
  position: relative;
  overflow: hidden; }
  .centerRightBoxContactTextGrey {
    font: normal 12px Arial;
    text-decoration: none;
    color: #666; }
  .centerRightBoxContactTextGreen {
    font: normal 16px Arial;
    text-decoration: none;
    color: #037449; }
  .centerRightBoxContactTextGreen2 {
    font: normal 12px Arial;
    text-decoration: none;
    color: #037449; }

.centerRightBoxNewsMps {
  display: block;
  position: relative;
  font: normal 12px Arial;
  text-decoration: underline;
  color: #0072ff;
  /*  CONTACT PAGE  */ }

.contactForm {
  display: block;
  position: relative; }
  .contactFormLeft {
    display: block;
    position: relative;
    float: left;
    width: 295px;
    padding: 6px; }
    .contactFormLeft label {
      display: block;
      position: relative;
      font: normal 12px Arial;
      text-decoration: none;
      color: #666;
      margin-top: 18px; }
    .contactFormLeft input[type="text"] {
      width: 244px;
      border: 1px solid #b2c4d4;
      border-radius: 3px;
      padding: 7px;
      margin-top: 12px;
      margin-bottom: 4px; }
  .contactFormRight {
    display: block;
    position: relative;
    float: left;
    width: 345px; }
    .contactFormRight label {
      display: block;
      position: relative;
      padding-top: 25px;
      font: normal 12px Arial;
      text-decoration: none;
      color: #666; }
    .contactFormRight textarea {
      width: 327px;
      border: 1px solid #b2c4d4;
      border-radius: 3px;
      padding: 5px;
      margin-top: 11px;
      height: 181px;
      overflow: hidden; }
  .contactFormBtn {
    display: block;
    position: relative;
    font: bold 16px georgiaRegular;
    text-decoration: none;
    color: #fff;
    background: #04a165;
    background: -moz-linear-gradient(top, #04a165 0%, #02482d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04a165), color-stop(100%, #02482d));
    background: -webkit-linear-gradient(top, #04a165 0%, #02482d 100%);
    background: -o-linear-gradient(top, #04a165 0%, #02482d 100%);
    background: -ms-linear-gradient(top, #04a165 0%, #02482d 100%);
    background: linear-gradient(to bottom, #04a165 0%, #02482d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04a165', endColorstr='#02482d',GradientType=0 );
    margin: 25px 0px 0px 6px;
    width: 162px;
    height: 43px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #6e9985;
    box-shadow: 0px 0px 1px 2px rgba(110, 153, 133, 0.3);
    -webkit-box-shadow: 0px 0px 1px 2px rgba(110, 153, 133, 0.3);
    -moz-box-shadow: 0px 0px 1px 2px rgba(110, 153, 133, 0.3);
    -ms-box-shadow: 0px 0px 1px 2px rgba(110, 153, 133, 0.3);
    -o-box-shadow: 0px 0px 1px 2px rgba(110, 153, 133, 0.3);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    letter-spacing: 0.02em; }

.contactFormCheck {
  width: 10px !important;
  margin-left: 62px;
  cursor: pointer;
  border: 1px solid #b2c4d4 !important; }

.contactForm label span {
  display: block;
  position: absolute;
  margin-top: -16px;
  margin-left: 119px;
  font: normal 11px Arial;
  text-decoration: none;
  color: #049fef; }

.centerRightBoxComm {
  display: block;
  position: relative;
  overflow: hidden;
  width: 635px; }

.centerRightBoxComments {
  display: block;
  position: relative;
  list-style-type: none;
  overflow: hidden;
  border-top: 1px solid #999;
  width: 635px;
  margin-top: 24px;
  margin-left: 6px;
  padding-left: 2px; }
  .centerRightBoxComments:last-child {
    border-bottom: 1px solid #999;
    padding-bottom: 10px; }
  .centerRightBoxCommentsHeader {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 9px; }
    .centerRightBoxCommentsHeaderName {
      float: left;
      width: 200px;
      text-align: left;
      font: bold 12px Arial;
      text-decoration: none;
      color: #037449; }
    .centerRightBoxCommentsHeaderDate {
      float: right;
      width: 300px;
      text-align: right;
      font: normal 12px Arial;
      text-decoration: none;
      color: #999; }
  .centerRightBoxCommentsText {
    display: block;
    position: relative;
    font: normal 12px Arial;
    text-decoration: none;
    color: #666;
    margin-top: 11px; }
  .centerRightBoxCommentsLink {
    display: block;
    position: relative;
    font: normal 11px Arial;
    text-decoration: underline;
    color: #049fef;
    margin-top: 11px;
    margin-left: 3px; }

/*# sourceMappingURL=style.css.map */
